* {
    --main-header-color: #ccd5ae;
    --second-header-color: #E9EDC9;
    --main-color: #FEFAE0;
    --second-color: #FAEDCD;
    --footer-color: #D4A373;

    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw auto;
    font-family: 'Roboto', sans-serif;
}

.welcome-image {
    background-image: url('./assets/welcomeimage-1024x1024.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-logo {
    width: 40%;
    background-color: rgba(200, 200, 200, 0.2);
}

header {
    display: flex;
    background-color: var(--main-header-color);
    height: 60px;
    position: sticky;
    top: 0;
    justify-content: center;
    z-index: 100;
}

.logo {
    background-image: url('./assets/DAVI.png');
    background-size: cover;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 10px;
    top: 10px
}

nav {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.nav-wrapper {
    padding-top: 10px;
}

.nav-wrapper > a {
    text-decoration: none;
    color: var(--footer-color);
    font-size: 2rem;
}

.nav-wrapper:hover{
    background-color: var(--second-header-color);
}

.nav-wrapper > a:hover {
    color: var(--main-color);
}

main {
    padding: 10px 40px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    width: 70vw;

}

.logo-article {
    background-image: url("./assets/DAVI2.png");
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
}

section {
    margin: 50px 0px;
    width: 70vw;
    padding: 40px;
    background-color: var(--second-color);
    box-shadow: 10px 5px 5px var(--footer-color);
}

.section-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.section-title {
    color: var(--footer-color);
}

.section-image {
    background-image: url('./assets/html.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 100px;
    z-index: 99;
}

.section-content {
    padding: 10px 20px;
    font-size: 1.2rem;
}

.section-content p, h3 {
    margin: 10px 0px;
}

.HTML .section-image {
    background-image: url('./assets/html.png');
}

.CSS > .section-image {
    background-image: url();
}

.JS > .section-image {
    background-image: url();
}

.Other > .section-image {
    background-image: url();
}

.section-content-topics {
    display: flex;
    justify-content: center;
}

.topics-card {
    box-shadow: 10px 5px 5px var(--footer-color);
    margin: 20px;

}

.topics-card > img {
    width: 150px;
    height: 100px;
    margin: auto 0;
}
/* footer */

footer {
    background-color: var(--footer-color);
    height: 60px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}